__pycache__/
*.py[cod]
.ipynb_checkpoints/
assignment_materials/allocated_package/raw_input/
assignment_materials/allocated_package/Group030_A1_original.zip
Group030_A1_submission.zip
templates-*.zip
